.icon-48-categorys {
      background-image: url(../images/l_categorys.png);
      padding-left:60px!important;
}

.icon-48-category {
      background-image: url(../images/l_categorys.png);
      padding-left:60px!important;
}

